.ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

li:nth-child(odd){
    animation: slide-from-left 0.7s ease-in forwards;
}

li:nth-child(even){
    animation: slide-from-right 0.7s ease-in forwards;
}

.actions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.actions div{
    padding: 0 1rem;
}

@keyframes slide-from-left {
    0%{
      opacity: 0;
      transform: translateX(-500%);
    }
  
    50%{
      opacity: 0.4;
      transform: translateX(-250%);
    }
  
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }


@keyframes slide-from-right {
    0%{
      opacity: 0;
      transform: translateX(500%);
    }
  
    50%{
      opacity: 0.4;
      transform: translateX(250%);
    }
  
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
