.header {
    display: flex;
    width: 100vw;
    height: 5rem;
    background-color: #8a2b06;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
    font-weight: 800;
    flex-wrap: wrap;
    animation: header-slide-in 0.5s ease-in-out forwards;
}

.logo{
    font-size: 1.6rem;
    color: white;
    
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.nav a {
    text-decoration: none;
    color: white;
    
}

.nav a:hover{
    color: lightblue;
    transition: color 0.2s ease-in-out;
}

nav a.active {
    border-bottom: 2px solid lightblue;
}

@media (max-width: 430px){
    .logo {
        font-size: 1.3rem;
    }

    .nav li {
        font-size: 0.90rem ;
    }
}

@keyframes header-slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

 
    50%{
        opacity: 0.5;
        transform: translateY(20%);
    }

   
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



